.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 20px;
  background-color: #ffebcc !important; 
  color: #333333; 
}

.footer-section {
  width: 22%; 
  text-align: left;

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 5px;
    }

    a {
      color: #333333;
      text-decoration: none;

      &:hover {
        color: #ff6347; 
      }
    }
  }

  .subscribe-section {
    margin-top: 20px;

    .email-input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .subscribe-btn {
      width: 100%;
      padding: 10px;
      background-color: #ff6347; 
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #ff4500; 
      }
    }
  }
}

.footer-bottom {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.social-links {
  a {
    margin-right: 10px;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.text-white {
  color: #333333;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .subscribe-section {
    text-align: center;
  }
}
