<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-3">
  <div class="navbar-left">
    <a class="navbar-brand" [routerLink]="['/home']">ELITE REGALO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/home']">Ready To Ship</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Build a Box</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Occasions</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Corporate Gifts</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-right">
    <div *ngIf="isUser" class="user-account">
      <div class="dropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropbtn user-name">
            <a class="nav-link" href="#">{{ userName }}</a>
          </li>
          <div class="dropdown-content">
            <a (click)="editProfile()">Edit Profile</a>
            <a (click)="settings()">Settings</a>
            <a (click)="logout()">Logout</a>
          </div>
        </ul>
      </div>
    </div>

    <div *ngIf="!isUser">
      <div class="dropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropbtn account-text">
            <a class="nav-link" href="#">Account</a>
          </li>
          <div class="dropdown-content">
            <a [routerLink]="['/login']">Login</a>
            <a [routerLink]="['/register']">Register</a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
