<footer class="text-center">
  <div class="footer">
    <div class="footer-section">
      <h3>Contact Us</h3>
      <p>Email: <a href="'mailto:'+contactUsEmail" >{{contactUsEmail}}</a></p>
      <p>Mobile: <a href="'tel:'+contactUsMobile" >{{contactUsMobile}}</a></p>
      <p>Help: <a href="'mailto:'+contactUsHelpEmail" >{{contactUsHelpEmail}}</a></p>
    </div>

    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul class="footer-links">
        <li><a [routerLink]="['/quick-links', 'faqs']" >FAQs</a></li>
        <li><a [routerLink]="['/quick-links', 'reviews']" >Reviews</a></li>
        <li><a [routerLink]="['/quick-links', 'shipping-policy']" >Shipping Policy</a></li>
        <li><a [routerLink]="['/quick-links', 'refund-policy']" >Refund Policy</a></li>
        <li><a [routerLink]="['/quick-links', 'terms']" >Terms and Conditions</a></li>
        <li><a [routerLink]="['/quick-links', 'privacy-policy']" >Privacy Policy</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Become a Member</h3>
      <ul>
        <li>Get exclusive access to premium gift boxes, special deals, and finest selections.</li>
      </ul>
      <div class="subscribe-section">
        <form [formGroup]="createSubscriptionForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="email" id="email" formControlName="email" placeholder="Enter your email" class="email-input form-control">
            <div *ngIf="f['email']?.invalid && (f['email']?.touched)" class="text-danger">
              Please enter a valid email address.
            </div>
          </div>
        <button class="subscribe-btn" [disabled]="!createSubscriptionForm.valid" type="submit">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="footer-section">
      <h3>Follow us</h3>
      <div class="social-links">
        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
          <img src="assets/instagram-logo.png" alt="Instagram Logo" />
        </a>
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
          <img src="assets/facebook-logo.png" alt="Facebook Logo" />
        </a>
        <a href="https://www.pinterest.com" target="_blank" aria-label="Pinterest">
          <img src="assets/pinterest-logo.png" alt="Pinterest Logo" />
        </a>
        <a href="https://www.tiktok.com" target="_blank" aria-label="TikTok">
          <img src="assets/tiktok-logo.png" alt="TikTok Logo" />
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom text-center py-3">
    <p>&copy; 2024 Elite Regalo. All Rights Reserved.</p>
  </div>
</footer>
