/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  color: #333;
}
.custom-toast-position {
  margin-top: 70px !important; /* Adjust the distance from the top */
}
